@charset "utf-8";
.page-title {
    font-size: 1.5em;
    text-align: center;
}
.login-form-wrapper {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -210px;
	margin-top: -200px;
	width: 420px;
	height: 400px;
}
.login-form {
	border: 4px solid #ddd;
}