<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.freeneo.survey.mapper.ResponseMapper">

	<resultMap id="BaseResultMap" type="com.freeneo.survey.domain.Response">
		<id column="id" jdbcType="NUMERIC" property="id" />
		<result column="question_id" jdbcType="NUMERIC" property="questionId" />
		<result column="respondent" jdbcType="VARCHAR" property="respondent" />
		<result column="response" jdbcType="VARCHAR" property="response" />
		<result column="datetime" jdbcType="DATE" property="datetime" />
	</resultMap>

	<select id="list" resultMap="BaseResultMap">
		SELECT * FROM SV_RESPONSES
	</select>

	<select id="select" parameterType="java.lang.Long" resultMap="BaseResultMap">
		SELECT
		*
		FROM SV_RESPONSES
		WHERE id = #{id,jdbcType=NUMERIC}
	</select>

	<select id="selectByQuestionIdAndRespondent" 
		parameterType="com.freeneo.survey.domain.Response" resultMap="BaseResultMap">
		SELECT
		*
		FROM SV_RESPONSES
		WHERE respondent = #{respondent,jdbcType=VARCHAR}
			AND question_id = #{questionId,jdbcType=NUMERIC}
	</select>
	
	<insert id="insert" parameterType="com.freeneo.survey.domain.Response">
		<selectKey keyProperty="id" order="BEFORE" resultType="long">
			SELECT seq_SV_RESPONSES.nextval from DUAL 
		</selectKey>
		INSERT INTO SV_RESPONSES 
			(id, question_id, respondent, response, datetime)
		VALUES (
			#{id}, 
			#{questionId,jdbcType=NUMERIC},
			#{respondent,jdbcType=VARCHAR},
			#{response,jdbcType=VARCHAR},
			SYSDATE
		)
	</insert>

	<update id="update" parameterType="com.freeneo.survey.domain.Response">
		UPDATE SV_RESPONSES SET
			question_id = #{questionId,jdbcType=NUMERIC},
			respondent = #{respondent,jdbcType=VARCHAR},
			response = #{response,jdbcType=VARCHAR} 
		WHERE ID = #{id,jdbcType=NUMERIC}
	</update>

	<delete id="delete" parameterType="java.lang.Long">
		DELETE FROM SV_RESPONSES
		WHERE id = #{id,jdbcType=NUMERIC}
	</delete>

	<delete id="deleteByQuestionId" parameterType="java.lang.Long">
		DELETE FROM SV_RESPONSES
		WHERE question_id = #{questionId,jdbcType=NUMERIC}
	</delete>

</mapper>