<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.freeneo.survey.mapper.ResponseMapper">

	<resultMap id="BaseResultMap" type="com.freeneo.survey.domain.Response">
		<id column="id" jdbcType="NUMERIC" property="id" />
		<result column="respons_item_id" jdbcType="NUMERIC" property="responseItemId" />
		<result column="respondent" jdbcType="VARCHAR" property="respondent" />
		<result column="response" jdbcType="VARCHAR" property="response" />
		<result column="datetime" jdbcType="DATE" property="datetime" />
	</resultMap>

	<select id="list" resultMap="BaseResultMap">
		SELECT * FROM SV_RESPONSES
	</select>

	<select id="select" parameterType="java.lang.Long" resultMap="BaseResultMap">
		SELECT
		*
		FROM SV_RESPONSES
		WHERE id = #{id,jdbcType=NUMERIC}
	</select>
	
	<insert id="insert" parameterType="com.freeneo.survey.domain.Response">
		INSERT INTO SV_RESPONSES 
			(id, response_item_id, respondent, response)
		VALUES (
			seq_SV_RESPONSES.nextval, 
			#{response_item_id,jdbcType=NUMERIC},
			#{respondent,jdbcType=VARCHAR},
			#{response,jdbcType=VARCHAR},
			SYSDATE
		)
	</insert>

	<update id="update" parameterType="com.freeneo.survey.domain.Response">
		UPDATE SV_RESPONSES SET
			responseItemId = #{response_item_id,jdbcType=NUMERIC},
			respondent = #{respondent,jdbcType=VARCHAR},
			response = #{response,jdbcType=VARCHAR} 
		WHERE ID = #{id,jdbcType=NUMERIC}
	</update>

	<delete id="delete" parameterType="java.lang.Long">
		DELETE FROM SV_RESPONSES
		WHERE id = #{id,jdbcType=NUMERIC}
	</delete>

</mapper>