<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.freeneo.survey.mapperCrm.CustomerMapper">

	<resultMap id="BaseResultMap" type="com.freeneo.survey.domain.Customer">
		<id column="cst_no" jdbcType="VARCHAR" property="cstNo" />
		<result column="cst_nm" jdbcType="VARCHAR" property="cstNm" />
		<result column="hp" jdbcType="VARCHAR" property="hp" />
		<result column="ptcp_tit" jdbcType="VARCHAR" property="ptcpTit" />
		<result column="ptcp_dttm" jdbcType="VARCHAR" property="ptcpDttm" />
		<result column="etc_04" jdbcType="VARCHAR" property="etc01" />
	</resultMap>

	<select id="list" resultMap="BaseResultMap">
		SELECT
		*
		FROM TBCR_1000
	</select>

	<select id="projectList" resultType="String">
		select distinct(cat_nm)
		from TBCR_1041
	</select>

	<select id="branchList" parameterType="String" resultType="String">
		select distinct(etc_04)
		from TBCR_1040
		<if test="category != null">
			where cat_cd in (select cat_cd from TBCR_1041 where cat_nm like
			#{category,jdbcType=VARCHAR})
		</if>
		ORDER BY etc_04 ASC
	</select>

	<select id="customerList" parameterType="map"
		resultMap="BaseResultMap">
		select * from (
			select distinct c.cst_no, c.cst_nm, c.hp, e.cat_nm, d.ptcp_dttm, d.etc_04 from tbcr_1000 c, TBCR_1040 d
			, tbcr_1041 e
			where
				e.CAT_CD=d.CAT_CD
				and c.cst_no = d.cst_no
				and e.ptcp_tit like #{category,jdbcType=VARCHAR}
				and d.etc_04 like #{branch,jdbcType=VARCHAR}
			order by DBMS_RANDOM.RANDOM
		) where rownum &lt;= #{limit,jdbcType=NUMERIC}
	</select>

	<select id="customerListByDate" parameterType="map"
		resultMap="BaseResultMap">
		select * from (
			select distinct c.cst_no, c.cst_nm, c.hp, e.cat_nm, d.ptcp_dttm, d.etc_04 from tbcr_1000 c, TBCR_1040 d
			, tbcr_1041 e
			where
				d.CAT_CD=e.CAT_CD
				and c.cst_no = d.cst_no
				and e.ptcp_tit like #{category,jdbcType=VARCHAR}
				and d.etc_04 like #{branch,jdbcType=VARCHAR}
				and d.ptcp_dttm &gt;= #{startDate,jdbcType=VARCHAR}
				and d.ptcp_dttm &lt;= #{endDate,jdbcType=VARCHAR}
			order by DBMS_RANDOM.RANDOM
		) where rownum &lt;= #{limit,jdbcType=NUMERIC}
	</select>

	<select id="customerCount" parameterType="map"
		resultType="Integer">
		select count(*) from (
			select distinct c.cst_no 
			from tbcr_1000 c, TBCR_1040 d, TBCR_1041 e
			where
				d.cat_cd=e.cat_cd
				and c.cst_no = d.cst_no
				and e.cat_nm like #{category,jdbcType=VARCHAR}
				and d.etc_04 like #{branch,jdbcType=VARCHAR}
				and d.ptcp_dttm &gt;= #{startDate,jdbcType=VARCHAR}
				and d.ptcp_dttm &lt;= #{endDate,jdbcType=VARCHAR}
			order by DBMS_RANDOM.RANDOM
		) where rownum &lt;= #{limit,jdbcType=NUMERIC}
	</select>




</mapper>
