<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.freeneo.survey.mapperCrm.CustomerMapper">

	<resultMap id="BaseResultMap" type="com.freeneo.survey.domain.Customer">
		<id column="cst_no" jdbcType="VARCHAR" property="cstNo" />
		<result column="cst_nm" jdbcType="VARCHAR" property="cstNm" />
		<result column="hp" jdbcType="VARCHAR" property="hp" />
	</resultMap>

	<select id="list" resultMap="BaseResultMap">
		SELECT
		*
		FROM TBCR_1000
	</select>

	<select id="projectList" resultType="String">
		select distinct(ptcp_tit)
		from tbcr_1040
	</select>

	<select id="branchList" parameterType="String" resultType="String">
		select distinct(etc_01)
		from tbcr_1040
		<if test="category != null">
			where ptcp_tit like
			#{category,jdbcType=VARCHAR}
		</if>
		ORDER BY etc_01 ASC
	</select>

	<select id="customerList" parameterType="map"
		resultMap="BaseResultMap">
		select * from (
			select distinct c.cst_no, c.cst_nm, c.hp from tbcr_1000 c, tbcr_1040
			where
				c.cst_no = tbcr_1040.cst_no
				and tbcr_1040.ptcp_tit like #{category,jdbcType=VARCHAR}
				and tbcr_1040.etc_01 like #{branch,jdbcType=VARCHAR}
			order by DBMS_RANDOM.RANDOM
		) where rownum &lt;= #{limit,jdbcType=NUMERIC}
	</select>

	<insert id="insert" parameterType="com.freeneo.survey.domain.Customer">
		INSERT INTO TBCR_1000 (cst_no,
		cst_nm, hp)
		VALUES (
		#{cstNo,jdbcType=VARCHAR},
		#{cstNm,jdbcType=VARCHAR},
		#{hp,jdbcType=VARCHAR}
		)
	</insert>

</mapper>
