<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.freeneo.survey.mapperMms.MmsMapper">

	<insert id="insert" parameterType="com.freeneo.survey.domain.Mms">
		INSERT INTO MMS_MSG (MSGKEY, SUBJECT, PHONE, CALLBACK, STATUS, REQDATE, MSG, TYPE, FILE_CNT, FILE_PATH1)
			VALUES (
				MMS_MSG_SEQ.NEXTVAL,
				#{subject,jdbcType=VARCHAR}, 
				#{phone,jdbcType=VARCHAR}, 
				#{callback,jdbcType=VARCHAR}, 
				'0',
				SYSDATE, 
				#{msg,jdbcType=VARCHAR},
				'0',
				'1',
				#{filePath1,jdbcType=VARCHAR}
			)
	</insert>

</mapper>
